<div
  class="min-h-screen flex flex-col bg-gradient-to-b from-kid-blue/5 to-kid-purple/5"
>
  <div class="flex flex-1 items-center justify-center px-4">
    <div class="relative w-full max-w-md bg-white p-8 rounded-xl shadow-lg">
      <a
        [routerLink]="['/auth/password-activation']"
        class="absolute top-4 left-4 flex items-center space-x-2 text-gray-700 hover:text-gray-900 transition-all"
      >
        <lucide-icon name="arrow-left" class="w-5 h-5"></lucide-icon>
        <span class="text-sm font-medium">Back</span>
      </a>

      <h1 class="mb-6 text-center text-3xl font-bold text-kid-purple">
        Reset Password
      </h1>

      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="mb-5">
          <label
            for="new-password"
            class="mb-2 block text-sm font-medium text-gray-700"
          >
            New Password
          </label>
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
            >
              <lucide-icon
                name="lock"
                class="w-4 h-4 text-gray-800"
              ></lucide-icon>
            </div>
            <input
              id="new-password"
              type="{{ passwordVisible ? 'text' : 'password' }}"
              formControlName="password"
              placeholder="Enter new password"
              class="block w-full rounded-lg border focus:border-green-500 p-2 pl-10 text-sm focus:outline-none"
            />
            <button
              type="button"
              (click)="passwordVisible = !passwordVisible"
              class="absolute inset-y-0 right-0 flex items-center pr-3"
            >
              <lucide-icon
                [name]="passwordVisible ? 'eye-off' : 'eye'"
                class="w-5 h-5 text-gray-600"
              ></lucide-icon>
            </button>
          </div>
          <small
            class="text-red-700 ml-1"
            *ngIf="
              resetForm.get('password')?.hasError('required') &&
              resetForm.get('password')?.touched
            "
          >
            Password is required
          </small>
          <small
            class="text-red-700 ml-1"
            *ngIf="resetForm.get('password')?.hasError('minlength')"
          >
            Minimum 8 characters
          </small>
        </div>

        <!-- Confirm Password -->
        <div class="mb-5">
          <label
            for="confirm-password"
            class="mb-2 block text-sm font-medium text-gray-700"
          >
            Confirm Password
          </label>
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
            >
              <lucide-icon
                name="lock"
                class="w-4 h-4 text-gray-800"
              ></lucide-icon>
            </div>
            <input
              id="confirm-password"
              [type]="confirmPasswordVisible ? 'text' : 'password'"
              formControlName="confirmPassword"
              placeholder="Confirm your password"
              class="block w-full rounded-lg border focus:border-green-500 p-2 pl-10 text-sm focus:outline-none"
            />
            <button
              type="button"
              (click)="confirmPasswordVisible = !confirmPasswordVisible"
              class="absolute inset-y-0 right-0 flex items-center pr-3"
            >
              <lucide-icon
                [name]="confirmPasswordVisible ? 'eye-off' : 'eye'"
                class="w-5 h-5 text-gray-600"
              ></lucide-icon>
            </button>
          </div>
          <small
            class="text-red-700 ml-1"
            *ngIf="
              resetForm.hasError('mismatch') &&
              resetForm.get('confirmPassword')?.touched
            "
          >
            Passwords do not match
          </small>
        </div>

        <button
          type="submit"
          [disabled]="isLoading || resetForm.invalid"
          class="w-full rounded-lg border bg-green-600 cursor-pointer hover:bg-green-700 px-3.5 py-1.5 text-center font-medium text-white transition-all focus:ring-1 focus:outline-none"
        >
          {{ isLoading ? "Resetting..." : "Reset Password" }}
        </button>
      </form>
    </div>
  </div>
</div>
